<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Email</th>
    <th class="col-lg-2">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td class="text-center"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
    $('#pill_users').addClass('active')
</script>
