<div class="panel panel-default">
  <div class="panel-heading">
    Artikel Favorit
  </div>
  <div class="panel-body">
    <li>Artikel 1</li>
    <li>Artikel 2</li>
    <li>Artikel 3</li>
  </div>
</div>